.wp-block-cover {
    .wp-block-cover__inner-container {
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: 0;
            font-size: 2.50em;

            @media (max-width: $medium-screen) {
                font-size: 2em;
            }

            strong {
                font-weight: 400;
            }
        }
    }
}