// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin line-under-styles {
	position: absolute;
	left: 0;
	content: '';
	width: 80px;
	bottom: -10px;
	border: 1px solid $color__teritary;
}

@mixin line-under {
	&::before {
		@include line-under-styles;
	}
}

@mixin line-under-centered {
	&::before {
		@include line-under-styles;
		text-align: center;
		left: 50%;
		transform: translate(-50%);
	}
}

@mixin line-under-link {
	&::before {
		@include line-under-styles;
		width: 100%;
		opacity: 0;
		transition: 0.3s all;
	}

	&:hover::before {
		opacity: 1;
	}
}

@mixin line-under-link-centered {
	&::before {
		@include line-under-styles;
		text-align: center;
		left: 50%;
		transform: translate(-50%);
		width: 60%;
		opacity: 0;
		transition: 0.3s all;
	}

	&:hover::before {
		opacity: 1;
	}
}