.about-section {
    
    @include medium-section;

    .about-info {
        padding: 60px;
        padding-left: 0;

        h3 {
            position: relative;

            @include line-under;
        }
    }
}