.about-section {
    padding: 100px 0;

    .about-info {
        padding: 60px;
        padding-left: 0;

        h3 {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 80px;
                bottom: -10px;
                border: 1px solid $color__primary;
            }
        }
    }
}