.contact-section {
    padding: 100px 0;
    background-color: $color__secondary;

    .contact-logo {
        width: 120px;
    }

    .row {
        justify-content: space-around;

        .contact-info {
            padding-right: 180px;

            p {
                margin: 0;
                color: $color__text-teritary;
                line-height: 2em;
            }
        }

        .contact-details {
            p {
                margin: 0;
                margin-bottom: 0.5em;
                color: $color__text-teritary;
            }
        }

        .wp-block-column {

            margin: 0;

            ul {
                margin-left: 0;
                list-style-type: none;

                li {
                    margin-bottom: 1em;
                    transition: all 0.3s;

                    a {
                        color: $color__text-teritary;
                        text-decoration: none;
                        position: relative;

                        @include line-under-link;
                    }
                }
            }
        }
    }
}