.header-section {
    
    @include large-section;

    .header-logo {    
        max-width: 370px;
        margin: 0;
    }

    h1.header-title {
        font-size: $font__xlarge_heading;
        color: $color__primary;
        margin: 0;
    }

    h2 {
        margin-top: 0;
        font-weight: 400;
    }
}