.landing-section {
    
    @include medium-section;

    background-color: $color__primary;

    .wp-block-columns {
        margin: 0;

        .wp-block-column {
            margin: 0;

            h3 {
                font-size: $font__small_heading;
            }
        
            p {
                line-height: 2em;
            }
        }
    }
}