.partners-section {
    @include medium-section;
    background-color: $color__primary;

    .wp-block-group {
        .wp-block-group__inner-container {
            display: flex;
            justify-content: space-between;

    
            h3 {
                padding-right: 360px;
                color: #fff;
                position: relative;
    
                @include line-under;
            }

            img {
                margin-top: 30px;
            }
        }
    }
}
