.products-section {

    @include medium-section;

    background-color: $color__secondary;

    h3 {
        color: #fff;
        position: relative;

        @include line-under-centered;
    }

    .container {
        
        padding-top: 30px;

        .wp-block-columns {
            
            flex-wrap: wrap;

            .wp-block-column {

                margin: 0;
                flex-basis: 31%;

                @media (max-width: $large-screen) {
                    flex-basis: 49%;
                }

                @media (max-width: $medium-screen) {
                    flex-basis: 100%;
                }

                .product {

                    .product-logo {
                        background-color: $color__primary;
                        border-radius: 50%;
    
                        height: 100px;
                        width: 100px;
                    }
    
                    .product-info {
                        margin: 0;
    
                        h4 {
                            color: #fff;
                            font-size: $font__large_text;
    
                            margin-top: 0;
                        }
    
                        p {
                            color: $color__text-teritary;
                            line-height: 2em;
                        }
                    }
                }
            }
            
            
        }
    }
}