@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

// stylelint-disable value-keyword-case
$font__main: "Raleway", sans-serif, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__xlarge_heading: 90px;
$font__large_heading: 36px;
$font__medium_heading: 30px;
$font__small_heading: 24px;
$font__xlarge_text: 28px;
$font__large_text: 16px;
$font__regular_text: 14px;
